# Pandas Data Frame

In [1]:
import pandas as pd

In [2]:
groups=["Modern web","Devops","Cloud","Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,77]
ironmen_dict={"groups":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern web       59
1      Devops        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [3]:
print(ironmen_df.sum()) #計算鐵人總數
print(ironmen_df.mean()) #計算平均鐵人數
print(ironmen_df.median()) #計算鐵人中位數
print(ironmen_df.describe()) #列出所有描述性統計

groups     Modern webDevopsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [5]:
import numpy as np
groups=["Modern web","Devops",np.nan,"Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,np.nan]
ironmen_dict={"groups":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---------------------------")
print(ironmen_df.loc[:,"groups"].isnull()) #判斷那些組名是遺失值
print("---------------------------")
print(ironmen_df.loc[:,"groups"].notnull()) #判斷那些組的鐵人數不是遺失值

       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
---------------------------
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
---------------------------
0     True
1     True
2    False
3     True
4     True
5     True
Name: groups, dtype: bool

In [6]:
ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()]="不知道名字組"
ironmen_df.ironmen[ironmen_df.loc[:,"groups"].notnull()]+=10
ironmen_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  ironmen
0  Modern web     69.0
1      Devops     19.0
2      不知道名字組     29.0
3    Big Data     24.0
4    Security     16.0
5       自我挑戰組      NaN

In [2]:
import numpy as np
import pandas as pd
groups=["Modern web","Devops",np.nan,"Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,np.nan]
ironmen_dict={"groups":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
# print(ironmen_df)
print(ironmen_df.loc[:,"groups"].isnull()) #判斷那些組名是遺失值
print(ironmen_df.loc[:,"ironmen"].notnull()) #判斷那些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [3]:
print(ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()])

2    NaN
Name: groups, dtype: object
0    59.0
1     9.0
2    19.0
3    14.0
4     6.0
Name: ironmen, dtype: float64

In [4]:
print(ironmen_df)
ironmen_df_dropped = ironmen_df.dropna() #刪除遺失值
print(ironmen_df_dropped)
ironmen_df_filled = ironmen_df.fillna(0)
print(ironmen_df_filled)
ironmen_df_fillvalue = ironmen_df.fillna({"group":"Cloud","ironmen":71})
print(ironmen_df_fillvalue)

       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
3    Big Data     14.0
4    Security      6.0
       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0

# Chap6-1 DataFrame loc, iloc

In [5]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.682271  0.783202  0.123819  0.138016
b  0.959592  0.315305  0.079737  0.393884
c  0.710372  0.280381  0.914078  0.858816
d  0.702733  0.213145  0.358149  0.009084

In [6]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.763742  0.398009  0.368946  0.349950
std    0.131104  0.260272  0.383412  0.375047
min    0.682271  0.213145  0.079737  0.009084
25%    0.697618  0.263572  0.112798  0.105783
50%    0.706553  0.297843  0.240984  0.265950
75%    0.772677  0.432280  0.497131  0.510117
max    0.959592  0.783202  0.914078  0.858816

## loc用欄位定位DataFrame的資料
## iloc用索引定位DataFrame的資料
## .loc用[欄,列]定位DataFrame的資料

In [7]:
frame.loc['a','A']

0.6822709898049997

In [8]:
# 取前兩列之資料
frame.loc['a' : 'b' , :]

          A         B         C         D
a  0.682271  0.783202  0.123819  0.138016
b  0.959592  0.315305  0.079737  0.393884

In [9]:
# 取前兩欄之資料
frame.loc[ :, 'A': 'B']

          A         B
a  0.682271  0.783202
b  0.959592  0.315305
c  0.710372  0.280381
d  0.702733  0.213145

In [10]:
# 取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.682271  0.783202  0.123819  0.138016
c  0.710372  0.280381  0.914078  0.858816
          A         C
a  0.682271  0.123819
b  0.959592  0.079737
c  0.710372  0.914078
d  0.702733  0.358149
          A         D
a  0.682271  0.138016
d  0.702733  0.009084

## iloc是利用列索引進行資料定位，都是從0開始

In [11]:
frame.iloc[0,0]

0.6822709898049997

In [12]:
# 取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.682271  0.783202  0.123819  0.138016
b  0.959592  0.315305  0.079737  0.393884

In [13]:
# 取前兩列、兩欄之資料
frame.iloc[0:2,0:2]

          A         B
a  0.682271  0.783202
b  0.959592  0.315305

In [14]:
# 取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.682271  0.783202  0.123819  0.138016
c  0.710372  0.280381  0.914078  0.858816
          A         C
a  0.682271  0.123819
b  0.959592  0.079737
c  0.710372  0.914078
d  0.702733  0.358149
          A         D
a  0.682271  0.138016
d  0.702733  0.009084